<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Platform>x64</Platform>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishDir>Installers\Unpackaged\win-x64\</PublishDir>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <Configuration>Release</Configuration>
    <TargetFramework>net8.0-windows10.0.22621.0</TargetFramework>
    <PublishReadyToRun>false</PublishReadyToRun>
  </PropertyGroup>
</Project>